---
import Layout from "../layouts/Layout.astro";
const posts = await Astro.glob('../posts/*.md')
---

<Layout>
   <section class="showcase showcase-blog">
      <div class="showcase-text">
        <h1>Astro Blog</h1>
        <p>A simple blog built with Astro</p>
      </div>
    </section>

    <section class="page-content">
      <div class="flex flex-col gap-5">
        {
          posts?.map(post=>(
            <div class="p-4 bg-gray-100">
              <h4>
                {post?.frontmatter.title}</h4>
                <p>
                  {post?.frontmatter.excerpt}</p>
                  <div class="my-4">
                    <a class="px-6 rounded-md hover:bg-zinc-700 hover:text-zinc-50 transition-all duration-300 py-2 border bg-zinc-200 shadow w-fit" href={`/${post?.frontmatter.slug}`}>
                      Read More
                      </a>
                    </div>
              </div>
          ))
        }
        
      </div>
    </section>
</Layout>