---
import art1 from "../../public/art1.jpg";
import art2 from "/art2.jpg";
import art3 from "/art3.jpg";
import art4 from "/art4.jpg";
---

<section class="mx-12">
  <h4 class="my-5 font-bold text-xl">Latest art pices</h4>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-24">
    <div class="relative group ">
      <img src={'https://i.ibb.co/6HJBPWR/art1.jpg'} class="rounded-lg relative group-hover:-translate-x-3 w-full z-10 transition-all" alt="painting" />
      <div
        class="rounded-lg absolute group-hover:-translate-x-4 left-0 top-0 w-full h-full bg-zinc-800"
      >
      </div>
    </div>
    <div class="relative group ">
      <img src={'https://i.ibb.co/mvq9PhY/art2.jpg'} class="rounded-lg relative group-hover:-translate-x-3 w-full z-10 transition-all" alt="painting" />
      <div
        class="rounded-lg absolute group-hover:-translate-x-4 left-0 top-0 w-full h-full bg-zinc-800"
      >
      </div>
    </div>
    <div class="relative group ">
      <img src={'https://i.ibb.co/DWVHNxV/art4.jpg'} class="rounded-lg relative group-hover:-translate-x-3 w-full z-10 transition-all" alt="painting" />
      <div
        class="rounded-lg absolute group-hover:-translate-x-4 left-0 top-0 w-full h-full bg-zinc-800"
      >
      </div>
    </div>
    <div class="relative group ">
      <img src={'https://i.ibb.co/6HJBPWR/art1.jpg'} class="rounded-lg relative group-hover:-translate-x-3 w-full z-10 transition-all" alt="painting" />
      <div
        class="rounded-lg absolute group-hover:-translate-x-4 left-0 top-0 w-full h-full bg-zinc-800"
      >
      </div>
    </div>
  </div>
</section>
<!-- 
https://i.ibb.co/mvq9PhY/art2.jpg
https://i.ibb.co/fDmMg18/art3.jpg
https://i.ibb.co/DWVHNxV/art4.jpg
https://i.ibb.co/2nr3k5b/main-portrait.jpg -->