---
import paint from '../../public/paint.png'
---

<section class="flex flex-col items-center justify-center">
  <main>
    <h4 class="text-center py-5 font-bold text-3xl md:text-5xl">
      Astro Blogs From Scratch :No JavaScript
    </h4>
<div class="max-w-[600px] mx-auto">
    <p class="break-all text-center">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit odio
      provident nobis temporibus minus iste commodi optio quisquam delectus
      consectetur. Sit, ipsum. Nostrum, rerum quae iure exercitationem tempore
      ullam animi.
    </p>
  </div>
  <div class="flex justify-center pt-12 text-center">
    <div class="w-32">
      <h4>Art Posts</h4>
      <p class="text-xl font-bold">86</p>
    </div>
    <div class="w-32">
      <h4>Youtube Posts</h4>
      <p class="text-xl font-bold">856</p>
    </div>
    <div class="w-32">
      <h4>Facebook Posts</h4>
      <p class="text-xl font-bold">686</p>
    </div>
  </div>
  <div class="flex justify-center mt-5">
    <img class="h-full" src="https://i.ibb.co/2nr3k5b/main-portrait.jpg" alt="home photo">
    
  </div>
  </main>
</section>
